@use '../variables' as *;

.heading-line::before {
  content: "";
  width: 100%;
  height: 0.1rem;
  display: block;
  margin: 0 auto;
  background-color: $primary;
}
.heading-line::after {
  content: "";
  width: 15%;
  padding-top: 0.5rem;
  height: 1rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  background-color: $primary;
}