.header {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.scroll-down .header {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}